<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />

<title>Citi Dashboard</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
        	<h1>WEELCOME TO CITI DASHBOARD</h1>
            <h2>Let's Get It Done.</h2>
            
      </div>
        <div id="bar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Indian_Stock_Market_Trend.html">Indian_Stock_Market_Trend</a></li>
                <li><a href="News_Analysis.html">News_Analysis</a></li>
                <li><a href="Weather_Forecast_Alerts.html">Weather_Forecast_Alerts</a></li>
            </ul>
      </div>
        <div class="contentTitle"><h1>Indian_Stock_Market_Trend</h1></div>
        <div class="contentText">
          <p>Get a quick overview of top stock within<strong> Indian Stock Market</strong>. It shows the overall stock value trends of a respective stock. </p>
          <p>This data shows value trend of a stock over an year. This will help in analysing and predicting future trends. It can be further extended with proper prediction ratio and percentage. More stocks can be added in the list. </p>
          <p><a href="Indian_Stock_Market_Trend.html">»  (read more)</a></p>
        </div>
        <div class="contentTitle">
          <h1>News_Analysis</h1>
        </div>
        <div class="contentText">
          <p>Top and Latest news related 'Market' and 'Business' from different news portal will be displayed in a tabular form. Although this tabular form can be further improved by creating links to the latest news instead of just headlines.</p>

<p>This will keep updated with Market and Business related News from all the possible news portal before it spreads among users.</p>

          <p><a href="News_Analysis.html">» (read more)</a></p>
        </div>
        <div class="contentTitle"><h1>Weather_Forecast_Alerts</h1></div>
        <div class="contentText">
		<p>This gives an overall weather forecast of all the metropolitian cities of India. Weather Forecast Scope can be further increased to other operational areas/countries.</p>
		<p>This data will help in understanding fluctuations that may affect market with the alert of any natural calamity.</p>
		<p><a href="Weather_Forecast_Alerts.html">» (read more)</a></p>
		</div>  
</div>
        <div id="footer"><a href="https://sakshiseth.github.io">Backend Developer and Test Automation Engineer </a> <a href="https://sakshiseth.github.io">Sakshi Seth</a></div>
</body>
</html>
