<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />

<title>Citi Dashboard</title>
</head>

<body>
    <div id="page">
		
        <div id="header">
        	<h1>INDIAN STOCK MARKET TREND</h1>
            <h2>Analysis of changing pattern can be predict future trends.</h2>
            
      </div>
        <div id="bar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Indian_Stock_Market_Trend.html">Indian_Stock_Market_Trend</a></li>
                <li><a href="News_Analysis.html">News_Analysis</a></li>
                <li><a href="Weather_Forecast_Alerts.html">Weather_Forecast_Alerts</a></li>
            </ul>
      </div>
        <div class="contentTitle"><h1>Indian_Stock_Market_Trend</h1></div>
        <div class="contentText">
				<h1> TCS : </h1>
				<img src="TCS.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> HDFC : </h1>
				<img src="HDFC.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> ITC : </h1>
				<img src="ITC.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> SBI : </h1>
				<img src="SBI.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> ONGC : </h1>
				<img src="ONGC.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> NTPC : </h1>
				<img src="NTPC.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> IOC : </h1>
				<img src="IOC.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> GAIL : </h1>
				<img src="GAIL.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> DLF : </h1>
				<img src="DLF.jpg" alt="" border=3 height=400px width=780px></img>
				<h1> HPCL : </h1>
				<img src="HPCL.jpg" alt="" border=3 height=400px width=780px></img>
        </div>  
</div>
        <div id="footer"><a href="https://sakshiseth.github.io">Backend Developer and Test Automation Engineer </a> <a href="https://sakshiseth.github.io">Sakshi Seth</a></div>
</body>
</html>
