<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />

<title>Citi Dashboard</title>
</head>

<body>
		
        <div id="header">
        	<h1>NEWS ANALYSIS</h1>
            <h2>Stay update with all latest news in one page</h2>
            
      </div>
        <div id="bar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Indian_Stock_Market_Trend.html">Indian_Stock_Market_Trend</a></li>
                <li><a href="News_Analysis.html">News_Analysis</a></li>
                <li><a href="Weather_Forecast_Alerts.html">Weather_Forecast_Alerts</a></li>
            </ul>
      </div>
	  <h1>News_Analysis</h1>
		
          <img src="df_styled_Market.jpeg" alt="" border=3></img>
		  <img src="df_styled_Business.jpeg" alt="" border=3></img>

        <div id="footer"><a href="https://sakshiseth.github.io">Backend Developer and Test Automation Engineer </a> <a href="https://sakshiseth.github.io">Sakshi Seth</a></div>
</body>
</html>
