aiohttp==3.7.3
alabaster==0.7.12
appdirs==1.4.4
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bleach==3.2.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
cycler==0.10.0
dataframe-image==0.1.1
dateparser==1.0.0
defusedxml==0.6.0
dill==0.3.3
distlib==0.3.1
docutils==0.16
entrypoints==0.3
fastnumbers==3.1.0
filelock==3.0.12
geojson==2.5.0
GoogleNews==1.5.1
idna==2.10
imagesize==1.2.0
investpy==1.0
ipython-genutils==0.2.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.2.0
mistune==0.8.4
multidict==5.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
numpy==1.19.4
oauthlib==3.1.0
packaging==20.7
pandas==1.1.5
pandocfilters==1.4.3
Pillow==8.0.1
pluggy==0.13.1
praw==7.1.0
prawcore==1.5.0
py==1.9.0
Pygments==2.7.3
pyowm==3.1.1
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
PyYAML==5.3.1
pyzmq==20.0.0
regex==2020.11.13
requests==2.25.0
requests-oauthlib==1.3.0
scipy==1.5.4
seaborn==0.11.0
searchtweets==1.7.6
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
testpath==0.4.4
toml==0.10.2
tornado==6.1
tox==3.20.1
traitlets==5.0.5
trendet==0.7
tweepy==3.9.0
tweet-parser==1.13.2
typing-extensions==3.7.4.3
tzlocal==2.1
Unidecode==1.1.1
update-checker==0.18.0
urllib3==1.26.2
virtualenv==20.2.2
WeatherAlerts==0.5.0
webencodings==0.5.1
websocket-client==0.57.0
yarl==1.6.3
